<% provide(:title, @status_type_text + ' List') %>

<% if @instrument %>
  <% provide(:pageheading, @status_type_text + ' List for Instrument '+@instrument.id.to_s) %>
<% else %>
  <% provide(:pageheading, @status_type_text + ' List') %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= render 'statuses/statuses' %>
  </div>
</div>