<% if @instruments.any? %>
  <table class="table table-bordered table-striped table-hover" id="instruments">
    <thead>
      <tr>
        <th>Instrument ID</th>
        <th>Instrument Model</th>
        <th>Serial Number</th>
        <th>Asset Number</th>
        <th>Purchase Date</th>
        <th>Current Status</th>
        <th>View?</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'instruments/instruments_table', collection: @instruments, as: :instrument %>
    </tbody>
  </table>
  
<% else %>
  <p>No Instruments found</p>
<% end %>
